@import "~highlight.js/styles/atom-one-dark.css";

.markdown {
  font-size: 15px !important;
  line-height: 1.75rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
  h1 {
    font-size: 2.5rem;
    margin: 2.75rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px double rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 2rem;
    margin: 2.5rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px double rgba(0, 0, 0, 0.1);
  }
  h3 {
    font-size: 1.75rem;
    margin: 2.25rem 0 1rem;
  }
  h4 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }
  h5 {
    font-size: 1.25rem;
    margin: 1.75rem 0 1rem;
  }
  h6 {
    font-size: 1rem;
    margin: 1.5rem 0 0.5rem;
  }

  blockquote,
  figure,
  hr,
  p,
  pre,
  table,
  ul {
    margin-bottom: 1.25rem;
  }

  p {
    margin-top: 0;
  }

  pre {
    padding: 1rem;
    max-height: 35rem;
    line-height: 1.5;
    overflow: auto;
    background-color: #f6f8fa;
    margin-top: 0 !important;
  }

  ul {
    margin-top: 0;

    ul {
      margin-bottom: 0;
    }
  }

  code {
    font-size: 87.5%;
    word-wrap: break-word;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
      Courier New, monospace;
  }

  :not(pre) code {
    color: #e83e8c;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 0.2em 0;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }
  }

  img,
  svg {
    vertical-align: middle;
  }

  img {
    max-width: 100%;
    border-style: none;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 0.25rem solid #e9ecef;
    margin: 0 0 1rem;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    border: 1px solid #dee2e6;
  }

  table th {
    background: #f3f3f3;
  }

  table th,
  table td {
    border: 1px solid #e6e6e6;
    padding: 5px 8px;
    word-break: normal;
  }
}
